#!/bin/sh
echo "FQDN:                 {{ ansible_facts["fqdn"] }}"
echo "Distro:               {{ ansible_facts["distribution"] }} {{ ansible_facts["distribution_version"] }} {{ ansible_facts["distribution_release"] }}"
echo "Virtual:              {{ 'YES' if ansible_facts["virtualization_role"] == 'guest' else 'NO' }}"
echo "Virtualization Type:  {{ ansible_facts["virtualization_type"] }}"
echo "Timezone:             {{ ansible_facts["date_time.tz"] }}({{ ansible_facts["date_time.tz_offset"] }})"
echo
{% if ansible_server_location is defined %}
echo "Location:             {{ ansible_server_location }}"
{% endif %}
{% if ansible_server_region is defined %}
echo "Region:               {{ ansible_server_region }}"
{% endif %}
{% if ansible_server_zone is defined %}
echo "Zone:                 {{ ansible_server_zone }}"
{% endif %}
{% if ansible_server_customer is defined %}
echo "Customer:             {{ ansible_server_customer }}"
{% endif %}
{% if ansible_server_project is defined %}
echo "Project:              {{ ansible_server_project }}"
{% endif %}
{% if ansible_vendor_contract is defined %}
echo "Vendor Contract:      {{ ansible_vendor_contract }}"
{% endif %}
{% if ansible_server_env is defined %}
echo "Environment:          {{ ansible_server_env }}"
{% endif %}
{% if ansible_server_role is defined %}
echo "Role:                 {{ ansible_server_role }}"
{% endif %}
echo
